dist/
node_modules/
.env
**/target/**
__pycache__
.mypy_cache
.pytest_cache
.ruff_cache
dist
.turbo
.elizanode_modules
.elizadb
target/
*.pyc
.venv
*.egg-info
.DS_Store
package-lock.json
node_modules
